<!DOCTYPE html>
<html>
  <head>
    <title>chocolate</title>
    <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,800&display=swap" rel="stylesheet"> -->
    <style>
      #app {
        margin: 1rem;
        font-family: 'Montserrat', sans-serif;
      }
      #title {
        font-size: 2.5rem;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h1 id="title">Is this chocolate dark or white?</h1>
      <form method="POST" enctype="multipart/form-data">
        <input type="file" name="image">
        <input type="submit">
      </form>
      {% if error %}
        <div>
          {{ error }}
        </div>
      {% elif result %}
        <div>
          {{ result }}
        </div>
      {% endif %}
    </div>
  </body>
</html>
